@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --picture-height: 206px
}

.testimonial-quotes{
    color: #FFFFFF40;
    width: 3em;
    height: 3em;
}

.testimonial-container{
    width: 95%;
}

.testimonial--image{
    background-color: #2545B8;
    color:white;
    position:relative;
}

.testimonial-image{
    width: 91%;
    max-width: 384px;
    height: var(--picture-height);
    border-radius: 12px;
    position: absolute;
    top: calc(var(--picture-height)/2 * -1);
    left:0;
    right:0;
    margin:0 auto;
    object-fit: none;
    object-position: 50% 25%;
}

.testimonial--image, .testimonial{
    padding: 9.4375em 1em 4em;
    width: 100%;
    font-family: "Inter", system-ui;
}

.testimonial{
    padding-top: 4.625em;
    background-color: #F9FAFB;
    color: #111827;
}

.testimonial-logo{
    display: block;
    margin: 0 auto 2.5em;
}

.testimonial-quote{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2;
}

.testimonial .testimonial-quote::after{
    content: '”';
}

.testimonial .testimonial-quote::before{
    content: '“';
}

.testimonial-footer{
    margin-top: 1.5em;
}

.testimonial-author, 
.testimonial-company{
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

.testimonial-author{
    font-weight: 700;
}

.testimonial-company{
    font-weight: 500;
}

.testimonial .testimonial-company{
    color: #6B7280;
}

@media(min-width: 500px){
    .testimonial--image{
        padding: 5em 4.4375em;
        padding-left: 40%;
        display: flex;
        align-items: center;
        max-width: 1358px;
        max-height: 400px;
        position: unset;
    }

    .testimonial{
        text-align: center;
        padding-left: 25%;
        padding-right: 25%;

    }

    .testimonial-container{
        position: relative;
    }
    .testimonial-image{
        width:35%;
        max-width: 384px;
        height: 412px;
        right:unset;
        top:unset;
        margin: 0 auto 0 3%;
    }
    .testimonial-quote{
        font-size: 1rem;
    }
    .testimonial-author, 
    .testimonial-company{
        font-size: .8rem;
    }

    .testimonial .testimonial-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:.5em;
    }

    .testimonial .testimonial-author{
        display: flex;
        align-items: center;
        gap:10px;
    }
    
    .testimonial .testimonial-author::after{
        content: url("../../assets/Path.svg")       
    }
}